@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(93deg, #0407ce 0%, #000000 100%);
    padding-right: 12px
}

p {
    color: rgb(1, 178, 248);
}

.nav-link {
    color: rgb(1, 178, 248);
}

.navbar-nav .nav-link:hover {
    color: rgb(1, 178, 248);
    background-color: rgb(53, 51, 51);
}

.nav-link.dropdown-toggle {
    color: rgb(1, 178, 248);
}   

.navbar-nav .nav-link.active {
    color: aqua;
}

.navbar-brand img{
    width: 100px;
}

.dropdown-menu li {
    display: flex;
}

a.dropdown-item {
    font-size: 16px
}

a.dropdown-item:hover {
    background-color: aqua;
}

.dropdown-menu img {
    float: left;
}

.dropdown-menu {
    background-color: rgba(1, 178, 248, 0.658);
}

.navbar-toggler {
    background-color: rgb(1, 178, 248);
}

.btn.btn-outline-success {
    border: none;
    color: #000000;
    background-color: rgb(1, 178, 248);
}

.sidebar {
    color: rgb(1, 178, 248);
    background: linear-gradient(270deg, #0407ce 0%, #000000 100%);
}

.card {
    background: linear-gradient(270deg, #0407ce 0%, #000000 100%);
    color: rgb(1, 178, 248);
}

.card a {
    text-decoration: none;
    color: rgb(1, 178, 248);
}

.carousel-indicators {
    margin-bottom: -2em;
}


footer, 
.btn-outline-primary {
    background: linear-gradient(270deg, #0407ce 0%, #000000 100%);
}
.slide-text, 
.footer-text {
    color: rgb(1, 178, 248);
    /* по x и по y зададим центральное
    положение от контейнера, в котором
    находится тег p */
    margin: auto auto;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

.button-down {
    justify-content: center;
    margin-top: 35px; 
}

.call-anim {
    margin: 15px;
}

@keyframes call {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}